img {
    width: 500px;
}
h5 {
    margin-top: 4em;
    margin-bottom: 2em;
}
h3 {
    margin-top: 2em;
    text-decoration: underline;
}
.cfooter{
    align-items: center;
    padding-bottom: 100px;
}